/*============ Import ============*/
@import "vendor/app";

/*========= Slick.IO =========*/

.slick-slide{
  outline: none;
}

.slick-next{
  right: 5px;
  z-index: 1;
}

.slick-prev{
  left: 5px;
  z-index: 1;
}

.slick-next:before, .slick-prev:before{
  font-family: 'Glyphicons Halflings' !important;
  color: #666 !important;
}

.slick-next:before{
  content: "\e250";
}

.slick-prev:before{
  content: "\e251";
}

.slick-dots{
  position: relative;
}

.slick-dots li, .slick-dots li button{
  width: 35px;
}

.slick-dots li button:before{
  content: " " !important;
  background: #000;
  width: 30px;
  height: 5px;
}

/*========== Contact Form 7 ==========*/
span.wpcf7-list-item.first.last{
  font-size: 10px;
}


/*========== Font Colors ==========*/

$black:       #000;
$dark-gray:   #333;
$gray:        #555;
$light-gray:  #777;
$off-white:   #f3f3f3;
$white:       #FFF;

/*========== Rimowa Fonts ==========*/
@font-face {
  font-family: 'Rimowa';
  src: url(../fonts/rimowa.otf);
}

@font-face {
  font-family: 'Helvetica';
  src: url(../fonts/Helvetica.ttf);
}

@font-face {
  font-family: 'HelveticaBold';
  src: url(../fonts/HelveticaBold.ttf);
}

@font-face {
  font-family: 'HelveticaLight';
  src: url(../fonts/HelveticaLight.ttf);
}

/*========== Google Fonts ==========*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/*========== Fonts Variables ==========*/

$lato:            Lato, sans-serif;
$rimowa:          Rimowa, sans-serif;
$helvetica:       Helvetica, sans-serif;
$helveticabold:   HelveticaBold, sans-serif;
$helveticalight:		HelveticaLight, sans-serif;

/*========== Typography ==========*/

html {
  font-size: 12px;
  line-height: 1.3;
  font-family: $lato;

  @media (min-width: 800px) {
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.4;
  }
}

h1,h2,h3,h4,h5,h6{
	font-family: $lato;
	color: $white;
	letter-spacing: 0.05em;
  line-height: 1.3;
}

h1{ font-size: 2.625rem	}
h2{ font-size: 2rem	}
h3{ font-size: 1.75rem 	}
h4{ font-size: 1.5rem	}
h5{ font-size: 1rem		}
h6{ font-size: 0.75rem	}

p, a{
  font-family: $lato;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

p{
  color: $white;
}

span.rimowa{
  font-family: $rimowa;
}

/*========== Base ==========*/
.vertical-center-wrapper{
  display: table;
  width: 100%;
}
.vertical-center {
    display: table-cell !important;
    vertical-align: middle;
}
body{
  overflow-x: hidden;
}
img{
  max-width: 100%;
  margin: auto;
}


/*========== Button ==========*/
.btn-rimowa{
  background: #c3c3c3;
  color: #fff;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin-top: 20px; 
  position: absolute;
  right: 60px
}


/*========== Navigation ==========*/
nav{
  ul{
    list-style: none;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    li{
      display: inline-block;
      text-transform: uppercase;
      border-right: 1px solid $light-gray;
      padding-right: 5px;
      &:last-child{
        border: none;
      }
      a{
        font-size: 0.7rem;
        color: $dark-gray;
        letter-spacing: 0.1em;
      }
    }
  }
}

/*========== Page ==========*/

section{
  background: $black;
  &.title,
  &.logo{
    h1{
      padding-top: 20px;
      font-weight: 300;
      letter-spacing: 0.5em;
    }
    img{
      width: 150px;
    }
    p{
      font-family: $helveticabold;
      -webkit-font-smoothing: antialiased;
    }
  }
  &.banner{
    padding: 50px 0;
    background: $black;
    background-size: 550px;
    h2,h4{
      text-transform: uppercase;
    }
    h4{
      margin: 0;
      padding: 0;
    }
    h2{
      margin: 0 0 10px;
      font-weight: 700;
    }
  }
  &.collection{
    padding: 100px 0;
    box-shadow: inset 0 0 110px 10px #ddd;
    background: $white;
    h1,h2,h3,h4,h5,h6,p{
      color: $dark-gray;
    }
    h2,h3{
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      &.thin{
        font-weight: 300;
        font-size: 3rem;
      }
      &.blue{
        color: #5d697d;
        font-size: 3rem;
      }
    }
  }
  &.instagram-gallery{
    padding: 100px 0;
    background: $off-white;
    h1,h2,h3,h4,h5,h6,p{
      color: $dark-gray;
    }
    h2{
      font-family: $helveticalight;
      -webkit-font-smoothing: antialiased;
      font-weight: 300;
      font-size: 3rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    h3{
      font-weight: 700;
      padding-top: 0;
      margin-top: 0;
    }
    ol{
      list-style: none;
      padding: 0;
    }
    img,
    p{
      max-width: 85%;
      margin: auto;
    }

  }
  &.mailing-list{
    background: url('../img/mailing-list-bg.png') #000 no-repeat top;
    background-size: 100%;
    height: 77vh;
    .form{
      h1,h2,h3,h4,h5,h6,p{
        color: $dark-gray;
        font-family: $helvetica;
        -webkit-font-smoothing: antialiased;
      }
      background: $off-white;
      padding: 40px 40px 60px;
      input[type=text],
      input[type=tel],
      input[type=email]{
        margin: 5px 0 5px 5px;
        border: none;
        border-radius: 3px;
        padding: 4px;
        width: 100%;
      }
      p{
        font-size: 95%;
      }
    }
  }
}
footer{
  p{
    padding: 10px;
    color: $dark-gray;
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  section.collection h3{
      text-align: left !important;
  }
  .vertical-center{
    float: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}